
@{
    ViewData["Title"] = "ConsultarPlanos";
}


<div style="padding-left: 5%; padding-top: 1%; padding-right: 5%">
    <div>
        <a id="fechar" asp-controller="Home" asp-action="Index"> <img style="width: 28px;" src="~/images/fechar.svg" /></a>
        <h4>Consultar Planos <img style="width: 20px;" src="~/images/loader.gif" id="loaderImg" hidden></h4>
    </div>
    <hr />
    <form asp-controller="Planos" asp-action="ConsultarPlanosPost" method="post" onsubmit="disableObj(ConsultarBtn);showObj(loaderImg)">
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="id">Código</label>
                <br />
                <input class="form-control" autocomplete="off" id="id" name="id" type="number" />
            </div>
            <div class="form-group col-md-4">
                <label for="nome">Descrição</label>
                <br />
                <input class="form-control" autocomplete="off" id="descricao" name="descricao" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-info col-6" id="ConsultarBtn" type="submit"><i class="fas fa-search"></i> Consultar</button>
            </div>
        </div>
    </form>
    <hr />
    <table class="table table-fixed table-striped table-sm">
        <thead class="thead-dark">
            <tr>
                <th class="col-lg-1">Código</th>
                <th class="col-lg-3">Descrição</th>
                <th class="col-lg-1">Qtd. Ofertas</th>
                <th class="col-lg-1">Valor Mensal</th>
                <th class="col-lg-1">Valor Oferta</th>
                <th class="col-lg-3">Visualização</th>
                @if (ViewBag.bkf == true || ViewBag.tin == true)
                {
                    <th class="col-lg-2">Ação</th>
                }
            </tr>
        </thead>
        @foreach (var plano in ViewBag.planos)
        {
            <tr>
                <td class="col-lg-1">@plano.Id</td>
                <td class="col-lg-3">@plano.Descricao</td>
                <td class="col-lg-1">@plano.Qtd_ofertas</td>
                <td class="col-lg-1">@string.Format("{0:R$ #,###,##0.00}", plano.Valor_mensal)</td>
                <td class="col-lg-1">@string.Format("{0:R$ #,###,##0.00}", plano.Valor_oferta)</td>
                <td class="col-lg-3">@plano.Desc_visualizacao</td>
                @if (ViewBag.bkf == true || ViewBag.tin == true)
                {
                    <td class="col-lg-2">
                        <a asp-area="" asp-controller="Planos" asp-action="AcaoEditarPlanos" asp-route-id="@plano.Id"><img style="margin: 2px; width: 30px;" title="Editar plano" src="~/images/editar.svg"></a>
                        <a asp-area="" asp-controller="Planos" asp-action="ExcluirPlanos" asp-route-id="@plano.Id" onclick=" return Confirmar('Excluir plano?')"><img style="margin: 2px; width: 30px;" title="Excluir plano" src="~/images/excluir.svg"></a>
                    </td>
                }
            </tr>
        }
    </table>
    @if (ViewBag.responseStatusCode == "OK")
    {
        @if (ViewBag.erro || (ViewBag.linhasafetadas == 0 && ViewBag.excluindo))
        {
            <h4 style="color : red">@ViewBag.mensagem</h4>
        }
        else
        {
            @if (ViewBag.excluindo)
            {
                <h4 style="color : green">Plano excluído.</h4>
            }
            else
            {
                @if (ViewBag.planos.Count == 0)
                {
                    <h5 style="color : red">Nenhum registro encontrado.</h5>
                }
            }

        }
    }
    else
    {
        <h4 style="color : red"> @ViewBag.responseStatusCode </h4>
    }
</div>


