@{
    ViewData["Title"] = "EditarPlanos";
}

    <div style="padding-left: 5%; padding-top: 1%; padding-right: 5%">
        <div>
            <a id="fechar" asp-controller="Home" asp-action="Index"> <img style="width: 28px;" src="~/images/fechar.svg" /></a>
            <h4>Editar Plano <img style="width: 20px;" src="~/images/loader.gif" id="loaderImg" hidden></h4>
        </div>
        <hr />
        @if (@ViewBag.id != 0)
        {
            <form asp-controller="Planos" asp-action="EditarPlanosPost" method="post" onsubmit="disableObj(SalvarBtn);disableObj(CancelarBtn);showObj(loaderImg)">
                <h6 for="id">Código: @ViewBag.id</h6>
                <input class="form-control" autocomplete="off" id="id" name="id" type="hidden" value="@ViewBag.id" />
                <hr />
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="nome">Descrição</label>
                        <input class="form-control" autocomplete="off" id="descricao" name="descricao" type="text" value="@ViewBag.descricao" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="uf">Qtd. Ofertas</label>
                        <input class="form-control" autocomplete="off" id="qtd_ofertas" name="qtd_ofertas" type="number" value="@ViewBag.qtd_ofertas" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="valor_mensal">Valor mensal</label>
                        <input class="form-control" autocomplete="off" id="valor_mensal" name="valor_mensal" type="text" onkeyup="return formatarMoeda(valor_mensal);" value="@string.Format("{0:##0.00}", ViewBag.Valor_mensal)" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="valor_oferta">Valor oferta</label>
                        <input class="form-control" autocomplete="off" id="valor_oferta" name="valor_oferta" type="text" onkeyup="return formatarMoeda(valor_oferta);" value="@string.Format("{0:##0.00}", ViewBag.valor_oferta)" />
                    </div>

                    <div class="form-group col-md-2">
                        <label for="visualizacao">Visualização</label>
                        <select class="form-control" name="visualizacao">
                            @if (ViewBag.visualizacao == "N")
                            {
                                <option value="N" selected>Sem visualização</option>
                            }
                            else
                            {
                                <option value="N">Sem visualização</option>
                            }
                            @if (ViewBag.visualizacao == "P")
                            {
                                <option value="P" selected>Visualização de Preço</option>
                            }
                            else
                            {
                                <option value="P">Visualização de Preço</option>
                            }
                            @if (ViewBag.visualizacao == "E")
                            {
                                <option value="E" selected>Visualização Empresa e Preço</option>
                            }
                            else
                            {
                                <option value="E">Visualização Empresa e Preço</option>
                            }
                        </select>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-success col-5" id="SalvarBtn" type="submit"><i class="fas fa-check"></i> Salvar</button>
                        <button class="btn btn-danger col-5" id="CancelarBtn" type="button" value="Cancelar" onclick="location.href='@Url.Action("RefazerUltimaConsultaPlano", "Planos")'"><i class="fas fa-times"></i> Cancelar</button>
                    </div>
                </div>

            </form>
        }
        else
        {
            <div class="row">
                <div class="col-md-2">
                   <button class="btn btn-info col-5" type="button" value="Voltar" onclick="location.href='@Url.Action("RefazerUltimaConsultaPlano", "Planos")'"><i class="fas fa-arrow-left"></i> Voltar</button>
                </div>
            </div>
        }
        <hr />
        @if (ViewBag.responseStatusCode == "OK")
        {
            @if (ViewBag.erro || ViewBag.linhasafetadas == 0)
            {
                <h4 style="color : red">@ViewBag.mensagem</h4>
            }
            else
            {
                @if (ViewBag.linhasafetadas >= 1)
                {
                    <h4 style="color : green">Plano atualizado.</h4>
                }
            }
        }
        else
        {
            <h4 style="color : red"> @ViewBag.responseStatusCode </h4>
        }
    </div>


